@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 40px;
  background-color: #496949;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: large;
}

.bg-image {
  background-image: url('https://webunwto.s3.eu-west-1.amazonaws.com/2020-01/sport-congresse.jpg');
  background-size: cover; 
  background-position: fixed;
}

input{
  background-color: #f4f4f4;
}

table{
  border-collapse: collapse !important;
}
td{
  border-bottom: 1px solid green !important;
  padding: 10px 0 !important;

}
body{
    font-family: 'Roboto', sans-serif;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }

  form input{
    text-align: center;
  }